/* Styling for ThemeZee Breadcrumbs Plugin */
.breadcrumbs {
	margin: 0;
	padding: 0.5rem 0.75rem;
	word-wrap: break-word;
	box-sizing: border-box;
	@include background(--header-background-color);
	border-bottom: 1px solid;
	@include border-color(--content-border-color);
}

.breadcrumbs-container {
	@include font-size(13);
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5rem;
	@include font-size(13);
	@include font-family(--text-font);
	font-weight: normal;
	text-transform: none;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after {
	content: "\002F";
}

.trail-separator-dash .trail-items li::after {
	content: "\2013";
}

.trail-separator-bull .trail-items li::after {
	content: "\2022";
}

.trail-separator-arrow-bracket .trail-items li::after {
	content: "\003e";
}

.trail-separator-raquo .trail-items li::after {
	content: "\00bb";
}

.trail-separator-single-arrow .trail-items li::after {
	content: "\2192";
}

.trail-separator-double-arrow .trail-items li::after {
	content: "\21D2";
}

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

@media only screen and (min-width: 640px) {
	.breadcrumbs-container,
	.breadcrumbs .trail-browse {
		@include font-size(14);
	}
}
