/* ThemeZee Magazine Blocks */
:root {
	--tz-column-gap: 1.5rem;
}

.tz-magazine-block .tz-magazine-post {
	margin: 0 0 1.5rem;
	padding: 0;
}

.tz-magazine-block .tz-entry-image,
.tz-magazine-block .tz-entry-header {
	margin-bottom: 1rem;
}

.tz-magazine-block .tz-entry-title {
	@include font-size(22);
}

.tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
	@include font-size(18);
}

.tz-magazine-block .tz-magazine-grid-columns-4 .tz-entry-title {
	@include font-size(17);
}

.tz-magazine-block .tz-entry-meta {
	@include font-size(14);
}

.tz-magazine-block .tz-meta-field {
	margin-right: 0;
}

.tz-magazine-block .tz-entry-meta > span:last-child::after {
	display: none;
}

.tz-magazine-block .tz-entry-content {
	@include font-size(16);

	.more-link {
		@include font-size(15);
	}
}

.tz-magazine-block .tz-magazine-thumbnail-list {
	.tz-magazine-post {
		@include background(--post-meta-background-color);

		.tz-post-image {
			padding-right: 0.3rem;
		}

		.tz-post-content {
			padding: 0.5rem;
		}

		.tz-entry-image,
		.tz-entry-header {
			margin-bottom: 0;
		}

		.tz-entry-title {
			@include font-size(16);
			padding: 0 0 0.3rem;
			border: none;
		}

		.tz-entry-meta {
			@include font-size(13);
			padding: 0;
			background: none;
		}
	}
}

@media only screen and (min-width: 960px) {
	.tz-magazine-block .tz-entry-title {
		@include font-size(22);
	}

	.tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
		@include font-size(19);
	}

	.tz-magazine-block .tz-entry-meta {
		@include font-size(15);
	}

	.tz-magazine-block .tz-entry-content {
		@include font-size(17);

		.more-link {
			@include font-size(16);
		}
	}
}
