/* ThemeZee Magazine Blocks */
:root {
	--tz-column-gap: 1.5rem;
}

.tz-magazine-block .tz-magazine-post {
	margin: 0 0 1.5rem;
	padding: 0;
}

.tz-magazine-block .tz-entry-image,
.tz-magazine-block .tz-entry-header {
	margin-bottom: 1rem;
}

.tz-magazine-block .tz-entry-title {
	@include font-size(22);
}

.tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
	@include font-size(18);
}

.tz-magazine-block .tz-magazine-grid-columns-4 .tz-entry-title,
.tz-magazine-block .tz-magazine-thumbnail-list .tz-entry-title {
	@include font-size(17);
}

.tz-magazine-block .tz-entry-meta {
	margin-top: 0.5rem;
	@include font-size(15);
}

.tz-magazine-block .tz-meta-field {
	margin-right: 0;
}

.tz-magazine-block .tz-entry-meta > span:last-child::after {
	display: none;
}

.tz-magazine-block .tz-entry-content {
	@include font-size(16);

	.more-link {
		@include font-size(15);
	}
}

.tz-magazine-thumbnail-list {
	.tz-magazine-post .tz-entry-image,
	.tz-magazine-post .tz-entry-header {
		margin-bottom: 0;
	}

	.tz-magazine-post .tz-entry-meta {
		margin-top: 0.25rem;
		@include font-size(15);
	}
}

@media only screen and (min-width: 960px) {
	:root {
		--tz-column-gap: 2rem;
	}

	.tz-magazine-block .tz-magazine-post {
		margin-bottom: 2rem;
	}

	.tz-magazine-block .tz-entry-title {
		@include font-size(24);
	}

	.tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
		@include font-size(20);
	}

	.tz-magazine-block .tz-magazine-grid-columns-4 .tz-entry-title,
	.tz-magazine-block .tz-magazine-thumbnail-list .tz-entry-title {
		@include font-size(18);
	}

	.tz-magazine-block .tz-entry-meta {
		@include font-size(16);
	}

	.tz-magazine-block .tz-entry-content {
		@include font-size(17);

		.more-link {
			@include font-size(16);
		}
	}
}
