.edit-post-visual-editor {
	@include background(--page-background-color);
}

.editor-styles-wrapper .wp-block {
	margin-left: auto;
	margin-right: auto;
}

.wp-block {
	max-width: $contentWidth;
	margin-top: 0;
	margin-bottom: 1.75rem;
}

.wp-block[data-align="wide"],
.wp-block.alignwide {
	max-width: $wideBlockWidth;
}

.wp-block[data-align="full"],
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block.alignfull {
	max-width: $themeWidth;
}

/* Fullwidth Template */
.dynamico-fullwidth-page-layout .wp-block {
	max-width: $contentFullwidth;
}

.dynamico-fullwidth-page-layout .wp-block[data-align="wide"],
.dynamico-fullwidth-page-layout .wp-block.alignwide,
.dynamico-fullwidth-page-layout .wp-block[data-align="full"],
.dynamico-fullwidth-page-layout .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block.alignfull {
	max-width: $themeWidth;
}

/* Wide Theme Layout */
.dynamico-wide-theme-layout .wp-block[data-align="full"],
.dynamico-wide-theme-layout .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block.alignfull,
.dynamico-wide-theme-layout.dynamico-fullwidth-page-layout .wp-block[data-align="full"],
.dynamico-wide-theme-layout.dynamico-fullwidth-page-layout .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block.alignfull {
	max-width: none;
}

.dynamico-wide-theme-layout.dynamico-fullwidth-page-layout .wp-block[data-align="wide"],
.dynamico-wide-theme-layout.dynamico-fullwidth-page-layout .wp-block.alignwide {
	max-width: $wideBlockFullwidth;
}

/* Post and Page Title */
body.block-editor-page .editor-post-title__block .editor-post-title__input {
	@include color(--title-color);
	@include font-size(20);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
	padding-bottom: 0.5rem;
	border: none;
	border-bottom: 5px solid;
	@include border-color(--title-color);
}

@media only screen and (min-width: 640px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(22);
	}
}

@media only screen and (min-width: 960px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(24);
	}
}

@media only screen and (min-width: 1280px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(28);
	}
}

/* Hidden Page Title */
body.dynamico-page-title-hidden.block-editor-page .edit-post-visual-editor .edit-post-visual-editor__post-title-wrapper {
	background-color: #fff;
	background-image:
		linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
		linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;

	.editor-post-title__block .editor-post-title__input {
		border-bottom: none;
		padding-bottom: 1rem;
	}
}
