.blocks-widgets-container .edit-widgets-block-editor {
	[data-widget-area-id="sidebar-1"] > .block-editor-block-list__layout {
		background: #fff;

		> .wp-block {
			padding: 1.5rem;
			border: 1px solid;
			@include border-color(--widget-border-color);
			background: #fff;
		}
	}
}
