@media only screen and (min-width: 480px) {
	.header-main {
		padding: 1.5rem;
	}

	.site-content,
	.has-sidebar .site-content {
		padding: 1.5rem 1.5rem 1px;
	}

	.site-footer {
		padding: 1.5rem;
	}

	.type-post,
	.type-page,
	.type-attachment,
	.post-navigation,
	.archive-header.entry-header,
	.featured-posts,
	.pagination,
	.widget,
	.comments-area,
	.themezee-related-posts {
		margin-bottom: 1.5rem;
	}

	.has-sidebar {
		.type-post,
		.type-page,
		.type-attachment,
		.post-navigation,
		.archive-header,
		.pagination,
		.comments-area,
		.themezee-related-posts {
			padding: 1.5rem;
			border: 1px solid;
			@include border-color(--content-border-color);
			background: #fff;
		}

		.archive-header,
		.pagination {
			padding: 0.75rem 1rem;
		}

		&.has-box-shadow {
			.type-post,
			.type-page,
			.type-attachment,
			.post-navigation,
			.archive-header,
			.pagination,
			.comments-area,
			.themezee-related-posts {
				box-shadow: 0 0 4px #ddd;
			}
		}
	}

	.entry-header,
	.post-image {
		margin-bottom: 0.75rem;
	}

	.entry-tags {
		margin-top: 1.5rem;
	}

	.post-navigation .nav-links {
		display: flex;
	}

	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next {
		margin: 0;
		width: 50%;
	}

	.post-navigation .nav-links .nav-previous {
		padding-right: 1rem;
	}

	.post-navigation .nav-links .nav-next {
		padding-left: 1rem;
	}
}

@media only screen and (min-width: 640px) {
	.header-main {
		padding: 2rem;
		flex-direction: row;
		align-items: center;
	}

	.header-content {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;

		.header-widget {
			margin: 0;
		}

		.header-social-menu {
			margin-top: 0;
			margin-left: 1.5rem;
		}
	}

	.site-content {
		padding: 2rem 2rem 0.5rem;
	}
}

@media only screen and (min-width: 960px) {
	.header-main {
		padding: 2.25rem 2.5rem;
	}

	.site-content {
		padding: 2.5rem 2.5rem 1rem;
	}

	.entry-header,
	.post-image {
		margin-bottom: 1rem;
	}

	.entry-tags,
	.entry-categories {
		margin-top: 1.5rem;
	}
}

@media only screen and (min-width: 1280px) {
	.header-main {
		padding: 2.5rem 3rem;
	}

	.site-content {
		padding: 3rem 3rem 1.5rem;
	}
}
