/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #ededef; /* Fallback for when there is no custom background color defined. */
}

blockquote {
	margin: 1.75rem 0;
	padding-left: 1.5rem;
	border-left: 5px solid;
	@include border-color(--light-border-color);
	@include color(--light-text-color);
	font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote p {
	margin-bottom: 1rem;
}

blockquote cite {
	display: block;
	@include color(--text-color);
	@include font-family(--text-font);
	@include font-size(16);
	font-style: normal;
}

blockquote cite::before {
	content: "\2014\00a0";
}

hr {
	margin: 1.75rem 0;
	height: 1px;
	border: 0;
	@include background(--light-border-color);
	box-sizing: content-box;
}

ul,
ol {
	margin: 1.75rem 0;
	padding: 0 0 0 1.5rem;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	border: 0;
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 1.75rem 0;
	width: 100%;
	border: none;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

th,
td {
	padding: 0.4em 0.6em;
	border: 1px solid;
	@include border-color(--light-border-color);
}

th {
	font-weight: normal;
	text-align: initial;
	background: rgba(0, 0, 0, 0.05);
}

tfoot td {
	background: rgba(0, 0, 0, 0.05);
}

a {
	@include color(--link-color);
	text-decoration: underline;
	background-color: transparent;
}

a:hover,
a:focus,
a:active {
	@include color(--link-hover-color);
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
