/* Theme Pagination */
.pagination {
	margin: 0 0 1.25rem;
}

.pagination .page-numbers,
.pagination .current {
	display: inline-block;
	margin: 0 0.5rem 0 0;
	padding: 0.4rem 0.6rem;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	@include color(--text-color);
}

.pagination .page-numbers.dots {
	padding: 0.4rem;
	background: none;
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	@include color(--link-color);
	text-decoration: underline;
}
