/* Theme Pagination */
.pagination {
	margin: 0 0 1.5rem;
}

.pagination .page-numbers,
.pagination .current {
	display: inline-block;
	margin: 0 0.5rem 0 0;
	padding: 0.4rem 1rem;
	text-align: center;
	text-decoration: none;
	@include background(--post-meta-background-color);
}

.pagination .page-numbers.dots {
	padding: 0.4rem;
	background: none;
}

.pagination a:hover,
.pagination a:active {
	@include color(--link-hover-color);
	text-decoration: underline;
}

.pagination .current {
	@include color(--button-text-color);
	@include background(--button-color);
}
