.social-menu-wrap .social-icons-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	justify-content: center;
}

.social-menu-wrap .social-icons-menu li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.social-menu-wrap .social-icons-menu li a {
	margin: 0;
	padding: 0.6rem;
}

.social-menu-wrap .social-icons-menu li a:hover,
.social-menu-wrap .social-icons-menu li a:active {
	text-decoration: none;
}

.social-menu-wrap .social-icons-menu li a .icon {
	margin: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	fill: currentColor;
}

/* Header Social Menu */
.header-social-menu-wrap {
	margin-top: 1rem;
}

.header-social-menu-wrap .social-icons-menu li a {
	display: flex;
	align-items: center;
	margin: 0 1px 1px 0;
	padding: 0.8rem;
	@include color(--button-text-color);
	@include background(--button-color);
}

.header-social-menu-wrap .social-icons-menu li a:hover,
.header-social-menu-wrap .social-icons-menu li a:active {
	@include color(--button-hover-text-color);
	@include background(--button-hover-color);
}

.header-social-menu-wrap .social-icons-menu li a .icon {
	width: 20px;
	height: 20px;
}
