/* Wide Theme layout */
body.wide-theme-layout .site {
	max-width: 100%;

	.header-main,
	.site-content,
	.site-footer {
		margin-left: auto;
		margin-right: auto;
	}

	.header-main {
		max-width: calc(#{$themeWidth} + 3rem);
	}

	.site-content,
	.site-footer {
		max-width: $themeWidth;
	}
}

@media only screen and (min-width: 480px) {
	body.wide-theme-layout .site {
		.site-content {
			background: none;
		}
	}
}

@media only screen and (min-width: 960px) {
	body.wide-theme-layout .site {
		.primary-navigation-wrap {
			display: flex;
			justify-content: center;

			.primary-navigation {
				max-width: $themeWidth;
			}
		}
	}
}

/* Hide Elements in Customizer for instant live preview */
.credit-link-hidden .site-info .credit-link {
	display: none;
}

.customize-partial-edit-shortcut-dynamico_featured_posts_partial button {
	top: -30px;
}
